# Database (Supabase PostgreSQL + PostGIS)
DATABASE_URL=postgresql://postgres:password@db.xxxxx.supabase.co:5432/postgres

# Server
PORT=3000
CORS_ORIGIN=*

# Optional: untuk production
NODE_ENV=development
